{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Auditoria e Certificação Energética{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Auditoria e Certificação Energética</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="./service.html"><i class="fa fa-service"></i> Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Auditoria e Certificação Energética</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener7.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h2>Auditoria e Certificação Energética</h2>
            <h3>Auditoria Energética</h3>
            <div class="line"></div>
          </div>
          <p>Na maioria dos negócios a energia representa uma fatia muito relevante na sua estrutura de custos. Por este motivo, conhecer com detalhe os respetivos fluxos e custos é determinante para o sucesso das organizações.</p>
          <p>As Auditorias Energéticas da Needwatt proporcionam um conhecimento pormenorizado de todos os custos inerentes ao consumo de energia.  É, sem dúvida, uma radiografia na qual ficamos a conhecer toda a estrutura e a forma como a energia é consumida na sua empresa. A partir daí apresentamos as medidas necessárias a adotar, devidamente quantificadas, com vista à melhoria da performance energética e consequente redução de custos.</p>
          <h3>Benefícios das Auditorias Energéticas</h3>
          <p>•	Identificação do perfil energético da instalação</p>
          <p>•	Aumento da eficiência energética</p>
          <p>•	Identificação de medidas</p>
          <p>•	Possibilidade de isenção de ISP</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h3>Certificação Energética</h3>
            <div class="line"></div>
          </div>
          <p>O Certificado Energético é obrigatório, em edifícios novos e antigos, a partir do momento em que são colocados no mercado para venda ou arrendamento.</p>
          <p>O documento é válido por dez anos para edifícios de habitação e pequenos edifícios de comércio e serviços. Depois dessa data, é preciso requerer novo certificado. No caso de grandes edifícios de comércio e serviços, o prazo é de:</p>
          <h3>Benefícios na Instalação de Baterias Condensadores</h3>
          <p>•	Redução da Fatura Mensal de Energia Elétrica</p>
          <p>•	Aumento da Eficiência Energética da Instalação</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener7.jpg' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
