{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Autoconsumo Fotovoltaico{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Autoconsumo Fotovoltaico</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="./service.html"><i class="fa fa-service"></i> Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Autoconsumo Fotovoltaico</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener9.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h2>Autoconsumo Fotovoltaico</h2>
            <h3>Unidades de Produção para Autoconsumo</h3>
            <div class="line"></div>
          </div>
          <p>Cada vez mais temos vindo a verificar uma grande volatilidade nos custos energéticos e a perspetiva é que estes se mantenham instáveis no decorrer dos próximos anos. Assim, no sentido de reduzir a fatia de despesa relacionada com os mencionados custos, a  Needwatt esclarece os seus Clientes relativamente a soluções Fotovoltaicas.</p>
          <p>Para a sua elaboração necessitamos dos diagramas de carga de cada instalação elétrica. Desta maneira projetamos e instalamos a central fotovoltaica de acordo com o seu perfil de consumo.</p>
          <p>Estabelecemos parcerias com os principais fabricantes de módulos fotovoltaicos (TIER 1)  para que os nossos Clientes se sintam perfeitamente seguros.</p>
          <h3>Benefícios do autoconsumo</h3>
          <p>•	Apresentação de proposta “chave na mão” que inclui a instalação dos módulos, inversores e estrutura de fixação</p>
          <p>•	Instalação executada por profissionais qualificados para que o Cliente usufrua dos benefícios do Autoconsumo Fotovoltaico sem preocupações</p>
          <p>•	Longevidade do equipamento que permite um desempenho de produção garantido até 30 anos</p>
          <p>•	Redução até 50% do consumo da rede</p>
          <p>•	Possibilidade de investimento nulo</p>
          <p>•	Condições Especiais de Aquisição</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
