{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Baterias de Condensadores{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Baterias de Condensadores</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="./service.html"><i class="fa fa-service"></i> Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Baterias de Condensadores</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener7.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h2>Baterias de Condensadores</h2>
            <h3>Compensação do fator potência</h3>
            <div class="line"></div>
          </div>
          <p>A maioria dos equipamentos elétricos instalados em espaços industriais, comerciais ou em habitações, necessita para o seu funcionamento de dois tipos de energia: Energia Ativa e Energia Reativa.</p>
          <p>A energia ativa é o que podemos chamar de energia útil, responsável pelo trabalho, calor, força, movimento, entre outros.</p>
          <p>A energia reativa é um tipo de energia que é necessária para o funcionamento de determinadas cargas elétricas, nomeadamente motores, compressores.</p>
          <p>A partir de um determinado nível de potência de alimentação, os comercializadores de energia cobram uma parte da energia reativa consumida a preços elevados.</p>
          <h3>Benefícios na Instalação de Baterias Condensadores</h3>
          <p>•	Redução da Fatura Mensal de Energia Elétrica</p>
          <p>•	Aumento da Eficiência Energética da Instalação</p>
          <p>•	Incremento da Capacidade de Fornecimento</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
