{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">


    <title>NeedWatt</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/lightbox.css' %}">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="./home.html" class="logo">
                            <img src="{% static 'main/images/logo1.png' %}" align="center">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="./home.html#top">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;"class="active">Serviços</a>
                                <ul>
                                    <li><a href="./autit_cert_ener.html"><strong>Auditoria e Certificação Energética</strong></a></li>
                                    <li><a href="./autoconsumo_foto.html"><strong>Autoconsumo Fotovoltaico</strong></a></li>
                                    <li><a href="./bater_conde.html"><strong>Baterias de Condensadores</strong></a></li>
                                    <li><a href="./carrega_viatu_eletric.html"><strong>Carregamento de viaturas elétricas</strong></a></li>
                                    <li><a href="./ilumina_led.html"><strong>Iluminação Led</strong></a></li>
                                    <li><a href="./merca_lib_ener.html"><strong>Mercado Liberalizado de Energia Elétrica e Gás</strong></a></li>
                                    <li><a href="./sistem_monito_energ.html"><strong>Sistema de Monitorização de Energia</strong></a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="./home.html#about">Sobre</a></li>
                            <li class="scroll-to-section"><a href="./home.html#contacts">Contactos</a></li>
                            <li><a href="./simulation.html">Simulação</a></li>
                        </ul>
                        <a class='menu-trigger'>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area Start ***** -->
    <section class="section" id="more">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Carregamento de viaturas elétricas</h2>
                <h6>Condomínios</h6><br>
                <p>Realização de projeto de adaptação das garagens coletivas dos edifícios de forma a possibilitar o carregamento de viaturas elétricas, de forma independente do contador de serviços comuns, e sua implementação.</p>
                <br>
                <p><strong>&nbsp&nbsp&nbsp1.&nbsp Caracterização do prédio do ponto de vista de instalação elétrica existente por entrada.</strong></p>
                <p>&nbsp&nbsp&nbsp&nbsp1.1&nbsp Potência total por ramal.</p>
                <p>&nbsp&nbsp&nbsp&nbsp1.2&nbsp	Quadro de colunas.</p>
                <p>&nbsp&nbsp&nbsp&nbsp1.3&nbsp Potência instalada em cada fração.</p>
                <p>&nbsp&nbsp&nbsp&nbsp1.4&nbsp	Potência instalada nos quadros elétricos comuns incluindo garagens.</p>
                <br>
                <p><strong>&nbsp&nbsp&nbsp2.&nbsp Solução de instalações individuais para cada fração e respetivo lugar de garagem.</strong></p>
                <p>&nbsp&nbsp&nbsp&nbsp2.1&nbsp Descrição da solução e características técnicas das instalações de acordo com os regulamentos em vigor.</p>
                <p>&nbsp&nbsp&nbsp&nbsp2.2&nbsp	Tipos de soluções de carregamento possíveis de adotar – Tomada dedicada / Wallbox</p>
                <p>&nbsp&nbsp&nbsp&nbsp2.3&nbsp Dimensionamento e esquema representativo de cada tipologia de instalação de acordo com o tipo de carregador e distância ao ponto de carregamento.</p>
                <br>
                <p><strong>&nbsp&nbsp&nbsp3.&nbsp Infraestrutura de apoio à passagem das instalações nas partes comuns.</strong></p>
                <p>&nbsp&nbsp&nbsp&nbsp3.1&nbsp Descrição das soluções de passagem incluindo dimensionamento de locais de passagem e esteiras de suporte da cablagem.</p>
                <p>&nbsp&nbsp&nbsp&nbsp3.2&nbsp	Descrição das soluções de passagem e suporte das instalações individuais na zona da garagem.</p>
                <br>
                <p><strong>&nbsp&nbsp&nbsp4.&nbsp Análise da solução de instalação de infraestrutura comum para carregamento de VE e respetivas instalações individuais a partir da infraestrutura comum.</strong></p>
                <p>&nbsp&nbsp&nbsp&nbsp4.1&nbsp Descrição técnica da solução.</p>
                <p>&nbsp&nbsp&nbsp&nbsp4.2&nbsp	Processo legal para obtenção de aumento de potência, se necessário.</p>
                <p>&nbsp&nbsp&nbsp&nbsp4.3&nbsp Limitações da solução</p>
                <br>
                <h6>Empresas</h6>
                <br>
              <p>Instalação de postos de carregamento elétrico de acordo com as necessidades atuais e futuras.</p>

              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/ener1.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>

    <!-- ***** Header Area End ***** -->




    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>Contacto: <strong>916530234</strong></p>
                    <p>Contacto: <strong>927579369</strong></p>
                      <p>Email: <strong>geral@needwatt.com</strong></p>
                </div>
              </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="home.html"><img src="{% static 'main/images/logo0.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright NeedWatt
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'main/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/js/accordions.js' %}"></script>
    <script src="{% static 'main/js/datepicker.js' %}"></script>
    <script src="{% static 'main/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/js/imgfix.min.js' %}"></script>
    <script src="{% static 'main/js/slick.js' %}"></script>
    <script src="{% static 'main/js/lightbox.js' %}"></script>
    <script src="{% static 'main/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'main/js/custom.js' %}"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>
  </body>
</html>
