<h2 style="text-align: center;"><em><strong>NeedWatt</strong></em></h2>
<p>&nbsp;</p>
<p>Nome: <strong>{{ name }}</strong></p>
<p>Nivel de Tens&atilde;o: <strong>MT</strong></p>
<p>Ciclo de Horario: <strong>{{ cicle }}</strong></p>
<p>Pot&ecirc;ncia contratada: <strong> {{ hired_power }}</strong></p>
<ul>
<li>Ativa em horas de ponta: <strong>{{ tarrif_ponta }}</strong></li>
<li>Ativa em horas de cheia: <strong>{{ tarrif_cheia }}</strong></li>
<li>Ativa em horas de vazio normal: <strong>{{ tarrif_vazio_normal }}</strong></li>
<li>Ativa em horas de super vazio: <strong>{{ tarrif_super_vazio }}</strong></li>
</ul>
<p>&nbsp;</p>
<p>Com os servi&ccedil;os da NeedWatt poupe at&eacute; <strong>{{ save_percentage }}</strong>%</p>
<p>Para mais informa&ccedil;&otilde;es por favor contacte geral@needwatt.com</p>
