{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">


    <title>NeedWatt</title>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/lightbox.css' %}">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="./home.html" class="logo">
                            <img src="{% static 'main/images/logo1.png' %}" align="center">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Serviços</a>
                                <ul>
                                    <li><a href="./autit_cert_ener.html"><strong>Auditoria e Certificação Energética</strong></a></li>
                                    <li><a href="./autoconsumo_foto.html"><strong>Autoconsumo Fotovoltaico</strong></a></li>
                                    <li><a href="./bater_conde.html"><strong>Baterias de Condensadores</strong></a></li>
                                    <li><a href="./carrega_viatu_eletric.html"><strong>Carregamento de viaturas elétricas</strong></a></li>
                                    <li><a href="./ilumina_led.html"><strong>Iluminação Led</strong></a></li>
                                    <li><a href="./merca_lib_ener.html"><strong>Mercado Liberalizado de Energia Elétrica e Gás</strong></a></li>
                                    <li><a href="./sistem_monito_energ.html"><strong>Sistema de Monitorização de Energia</strong></a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#about">Sobre</a></li>
                            <li class="scroll-to-section"><a href="#contacts">Contactos</a></li>
                            <!--<li class="scroll-to-section"><a href="#contacts">Simulação</a></li>-->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Top Area Start ***** -->
    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <h4>NeedWatt</h4>
                            <h6>POUPE JÁ</h6>
                            <div class="main-white-button">
                                <a href="#contacts">Faça uma Simulação</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">
                          <div class="item">
                            <div class="img-fill">
                                <img src="{% static 'main/images/top0.jpg' %}" alt="">
                            </div>
                          </div>
                          <div class="item">
                            <div class="img-fill">
                                <img src="{% static 'main/images/top1.jpg' %}" alt="">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="section" id="service">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h6>Serviços</h6>
                <h2>Auditoria e Certificação Energética</h2>
                <p>Na maioria dos negócios a energia representa uma fatia muito relevante na sua estrutura de custos. Por este motivo, conhecer com detalhe os respetivos fluxos e custos é determinante para o sucesso das organizações.</p>
                <a href="./autit_cert_ener.html">ver mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/audit0.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/ener2.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Autoconsumo Fotovoltaico</h2>
                <p>Cada vez mais temos vindo a verificar uma grande volatilidade nos custos energéticos e a perspetiva é que estes se mantenham instáveis no decorrer dos próximos anos. Assim, no sentido de reduzir a fatia de despesa relacionada com os mencionados custos, a  Needwatt esclarece os seus Clientes relativamente a soluções Fotovoltaicas.</p>
                <a href="./autoconsumo_foto.html">ver mais</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Baterias de Condensadores</h2>
                <p>A maioria dos equipamentos elétricos instalados em espaços industriais, comerciais ou em habitações, necessita para o seu funcionamento de dois tipos de energia: Energia Ativa e Energia Reativa.</p>
                <a href="./bater_conde.html">ver mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/batt0.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/electric1.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Carregamento de viaturas elétricas</h2>
                <p>Instalação de postos de carregamento elétrico de acordo com as necessiades atuais e futuras.</p>
                <a href="./carrega_viatu_eletric.html">ver mais</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Iluminação Led</h2>
                <p>A tecnologia de iluminação tem sofrido nos últimos anos avanços significativos, nomeadamente com a introdução e rápido desenvolvimento dos LED’s.</p>
                <a href="./ilumina_led.html">ver mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/led1.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/lib0.jpg' %}" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Mercado Liberalizado de Energia Elétrica e Gás</h2>
                <p>A NeedWatt tem como principal objetivo a redução do valor da fatura de energia elétrica e de gás dos seus Clientes, questionado diariamente o mercado de forma a apresentar o melhor preço/produto segundo o seu perfil de consumo.</p>
                <a href="./merca_lib_ener.html">ver mais</a>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="text-content">
              <div class="section-heading">
                <h2>Sistema de Monitorização de Energia</h2>
                <p>Os sistemas de monitorização são ferramentas que fornecem informação detalhadas, em tempo real e histórico, de todos os parâmetros relevantes da energia consumida na instalação. Permitem antecipar falhas nos equipamentos consumidores e verificar a eficácia de medidas de eficiência energética implementadas.</p>
                <a href="./sistem_monito_energ.html">ver mais</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                  <img src="{% static 'main/images/moni0.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ***** Services Area End ***** -->


      <!-- ***** About Area Starts ***** -->
      <section class="section" id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="left-text-content">
                          <div class="section-heading">
                              <h6>Sobre</h6>
                              <h2>NeedWatt</h2>
                          </div>
                          <p>A Needwatt é uma empresa de Consultadoria e Eficiência Energética fundada em Fevereiro de 2014 com o intuito de reduzir ao máximo os custos das Organizações em termos de Energia.</p>
                          <p>Numa altura em que a Poupança é mais do que nunca uma palavra-chave no universo empresarial, a Needwatt assume-se como uma Empresa focada nas necessidades dos seus Clientes (diminuição de custos e máxima eficiência) e tem a convicção que superará as suas expetativas.</p>
                          <div class="row">
                              <div class="col-4">
                                  <img src="{% static 'main/images/ener0.jpg' %}" alt="">
                              </div>
                              <div class="col-4">
                                  <img src="{% static 'main/images/ener1.jpg' %}" alt="">
                              </div>
                              <div class="col-4">
                                  <img src="{% static 'main/images/ener2.jpg' %}" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-xs-12">
                      <div class="right-content">
                          <div class="thumb">
                              <img src="{% static 'main/images/ener6.jpg' %}" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- ***** About Area Ends ***** -->

      <section class="section" id="contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>Entre em contracto</h6>
                            <h2>Contacte-nos e comece já a poupar</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Nº Telemóvel</h4>
                                    <a>916 530 234|927 579 369</a>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Email</h4>
                                    <a>geral@needwatt.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          {% csrf_token %}
                          <div class="row">
                            <div class="col-lg-12">
                                <h4>Envie-nos uma mensagem</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="O seu nome/empresa" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="O seu email" required="">
                            </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Mensagem" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <div class="checkbox">
                                  <input type="checkbox" id="checkbox1" required""><label for="checkbox1">Ao carregar neste botão está a concordar com os termos da nossa <a href="./privacy_policy.html">politica de privacidade</a></label>
                                </div>
                              </fieldset>
                            </div>
                            <div class="col-lg-6">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Enviar mensagem</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Reservation Area Ends ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-lg-4 col-xs-12">
                <div class="left-text-content">
                    <p>Contacto: <strong>916530234</strong></p>
                    <p>Contacto: <strong>927579369</strong></p>
                      <p>Email: <strong>geral@needwatt.com</strong></p>
                </div>
              </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="home.html"><img src="{% static 'main/images/logo0.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright NeedWatt
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static 'main/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'main/js/popper.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'main/js/owl-carousel.js' %}"></script>
    <script src="{% static 'main/js/accordions.js' %}"></script>
    <script src="{% static 'main/js/datepicker.js' %}"></script>
    <script src="{% static 'main/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/js/imgfix.min.js' %}"></script>
    <script src="{% static 'main/js/slick.js' %}"></script>
    <script src="{% static 'main/js/lightbox.js' %}"></script>
    <script src="{% static 'main/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'main/js/custom.js' %}"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>
  </body>
</html>
