{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Mercado Liberalizado de Energia Elétrica e Gás{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Mercado Liberalizado de Energia<br>Elétrica e Gás</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="./service.html"><i class="fa fa-service"></i> Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Mercado Liberalizado de Energia Elétrica e Gás</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener6.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h2>Mercado Liberalizado de Energia Elétrica e Gás</h2>
            <h3>Apoio à seleção de um fornecedor</h3>
            <div class="line"></div>
          </div>
          <p>A NeedWatt tem como principal objetivo a redução do valor da fatura de energia elétrica e de gás dos seus Clientes, questionado diariamente o mercado de forma a apresentar o melhor preço/produto segundo o seu perfil de consumo. </p>
          <p>Não atuamos em exclusividade com nenhuma comercializadora. Trabalhamos, isso sim, para oferecer sempre as melhores soluções e opções de mercado aos nossos Clientes.</p>
          <h3>Benefícios na Seleção do Comercializador</h3>
          <p>• Análise do perfil de consumo do Cliente</p>
          <p>• Negociação com comercializadores</p>
          <p>• Apresentação das melhores propostas para a sua avaliação com respetivos relatórios</p>
          <p>• Acompanhamento ao longo do contrato</p>
          <p>• Sem necessidade de utilizar os call centers</p>
          <p>• Tratamos de toda a burocracia envolvida</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
