{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Encontre os serviços oferecidos pela NeedWatt{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Serviços</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Serviços</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->

<section class="mt-70 mb-100">
  <div class="main-header-area">
    <div class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="Nav">
          <!-- Menu -->
          <div class="classy-menu">

            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li><a href="./autit_cert_ener.html">Auditoria e Certificação Energética</a></li><br>
                <li><a href="./autoconsumo_foto.html">Autoconsumo Fotovoltaico</a></li><br>
                <li><a href="./bater_conde.html">Baterias de Condensadores</a></li><br>
                <li><a href="./carrega_viatu_eletric.html">Carregamento de viaturas elétricas</a></li><br>
                <li><a href="./ilumina_led.html">Iluminação Led</a></li><br>
                <li><a href="./merca_lib_ener.html">Mercado Liberalizado de Energia Elétrica e Gás</a></li><br>
                <li><a href="./sistem_monito_energ.html">Sistema de Monitorização de Energia</a></li><br>
              </ul>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>

{% endblock %}
