{% extends 'base.html' %}
{% load static %}
{% block title %}Simulação da NeedWatt{%endblock %}
{% block meta_description %}Faça já uma simulação do seu plano energético com NeedWatt{% endblock %}

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Simulação</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Simulação</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <script language="javascript">
      const cicle = new Array();
      cicle[0] = new Array("Selecione o ciclo");
      cicle[1] = new Array("Selecione o ciclo","Simple","Bi-Horário","Tri-Horário");
      cicle[2] = new Array("Selecione o ciclo","Diario","Semanal");
      cicle[3] = new Array("Selecione o ciclo","Semanal  c/ feriados","Semanal c/opção do cliente");

      const btn_tension = new Array("Selecione","1.15","2.30","3.45","4.60","5.75","6.90","10.35","13.80","17.25","20.70","27.60","34.50","41.40");

      function changeCicle(tension_selection_combo){
        const comboValueCicle = tension_selection_combo.value;
        document.forms["form"].elements["cicle_selection_combo"].options.length=0;
        for (var i = 0; i < cicle[comboValueCicle].length; i++) {
            var option_cicle = document.createElement("option");
            option_cicle.setAttribute('value', i+1);
            option_cicle.innerHTML = cicle[comboValueCicle][i];
            document.forms["form"].elements["cicle_selection_combo"].appendChild(option_cicle);
          }
        }

        function complete_btn_simple() {

          document.forms["form"].elements["tension_selection_combo"].options.length=0;
          for (var i = 0; i < btn_tension.length; i++) {
            var option_tension = document.createElement("option");
            option_tension.setAttribute('value', i+1);
            option_tension.innerHTML = btn_tension[i];
            document.forms["form"].elements["tension_selection_combo"].appendChild(option_tension);
          }

          var value_p_month = document.createElement('input');
          value_p_month.setAttribute("type","text");
          value_p_month.setAttribute("name","value_p_month");
          value_p_month.setAttribute("class","form-control mb-30 col-lg-6");
          value_p_month.setAttribute("placeholder","Valor por mês");
          document.forms["form"].appendChild(value_p_month)

          var btn = document.createElement('button');
          btn.setAttribute("type","submit");
          btn.setAttribute("class","btn send_btn");
          btn.textContent = 'Faça a simulação';
          document.forms["form"].appendChild(btn);
        }

        function complete_btn_bi() {

          var value_p_month = document.createElement('input');
          value_p_month.setAttribute("type","text");
          value_p_month.setAttribute("name","value_p_month");
          value_p_month.setAttribute("class","form-control mb-30 col-lg-6");
          value_p_month.setAttribute("placeholder","Valor por mês");
          document.forms["form"].appendChild(value_p_month)

          var btn = document.createElement('button');
          btn.setAttribute("type","submit");
          btn.setAttribute("class","btn send_btn");
          btn.textContent = 'Faça a simulação';
          document.forms["form"].appendChild(btn);
        }

        function complete_btn_tri() {

          var value_p_month = document.createElement('input');
          value_p_month.setAttribute("type","text");
          value_p_month.setAttribute("name","value_p_month");
          value_p_month.setAttribute("class","form-control mb-30 col-lg-6");
          value_p_month.setAttribute("placeholder","Valor por mês");
          document.forms["form"].appendChild(value_p_month)

          var btn = document.createElement('button');
          btn.setAttribute("type","submit");
          btn.setAttribute("class","btn send_btn");
          btn.textContent = 'Faça a simulação';
          document.forms["form"].appendChild(btn);
        }

        function complete_mt_bte(){

          var select = document.createElement('select');
          select.setAttribute("id","redes");
          select.setAttribute("name","redes");
          select.setAttribute("class","form-control mb-30 col-lg-6");

          select.innerHTML = '' +
          '<option value="0">Com redes</option>' +
          '<option value="0">Sem redes</option>';

          document.forms["form"].appendChild(select);

          var tarrif_pontas = document.createElement('input');
          tarrif_pontas.setAttribute("type","text");
          tarrif_pontas.setAttribute("name","input_tarrif_pontas");
          tarrif_pontas.setAttribute("class","form-control mb-30 col-lg-6");
          tarrif_pontas.setAttribute("placeholder","Consumo em horas de ponta");
          document.forms["form"].appendChild(tarrif_pontas);

          var tarrif_cheias = document.createElement('input');
          tarrif_cheias.setAttribute("type","text");
          tarrif_cheias.setAttribute("name","input_tarrif_cheias");
          tarrif_cheias.setAttribute("class","form-control mb-30 col-lg-6");
          tarrif_cheias.setAttribute("placeholder","Consumo em horas de cheia ");
          document.forms["form"].appendChild(tarrif_cheias);

          var tarrif_vazio_normal = document.createElement('input');
          tarrif_vazio_normal.setAttribute("type","text");
          tarrif_vazio_normal.setAttribute("name","tarrif_vazio_normal");
          tarrif_vazio_normal.setAttribute("class","form-control mb-30 col-lg-6");
          tarrif_vazio_normal.setAttribute("placeholder","Consumo em horas de vazio normal");
          document.forms["form"].appendChild(tarrif_vazio_normal);

          var tarrif_super_vazio = document.createElement('input');
          tarrif_super_vazio.setAttribute("type","text");
          tarrif_super_vazio.setAttribute("name","tarrif_super_vazio");
          tarrif_super_vazio.setAttribute("class","form-control mb-30 col-lg-6");
          tarrif_super_vazio.setAttribute("placeholder","Consumo em horas de super vazio ");
          document.forms["form"].appendChild(tarrif_super_vazio);


          var value_p_month = document.createElement('input');
          value_p_month.setAttribute("type","text");
          value_p_month.setAttribute("name","value_p_month");
          value_p_month.setAttribute("class","form-control mb-30 col-lg-6");
          value_p_month.setAttribute("placeholder","Valor por mês");
          document.forms["form"].appendChild(value_p_month);

          var btn = document.createElement('button');
          btn.setAttribute("type","submit");
          btn.setAttribute("class","btn send_btn");
          btn.textContent = 'Faça a simulação';

          document.forms["form"].appendChild(btn);
        }

        function moreOptions(tension_selection_combo, cicle_selection_combo){
          var tensionChosen =  tension_selection_combo.value;
          var cicleChosen = cicle_selection_combo.value;
          if (tensionChosen == 1) {
            if (cicleChosen == 2) {
              complete_btn_simple();
            }
            if (cicleChosen == 3) {
              complete_btn_bi();
            }
            if (cicleChosen == 4) {
              complete_btn_tri();
            }
          }
          if (tensionChosen == 2 || tensionChosen == 3) {
            complete_mt_bte();
          }
        }
  </script>

  <!-- ***** Contact Area Start ***** -->
  {% if message_name %}
      <center>
      <h2>Obrigado {{ simulation_name }}!</h2>
      <p>Receberá no seu email o resultado da simulação!</p>
      </center>
    <br/><br/><br/>
  {% else %}

  <section class="contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Faça uma simulação do seu plano energético com NeedWatt</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="" method="post" name="form">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="simulation-name" class="form-control mb-30" placeholder="O seu nome/empresa">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="simulation-email" class="form-control mb-30" placeholder="O seu email">
                </div>
              <div class="col-lg-6">
                <select name="tension_selection_combo" id="" class="form-control mb-30" onchange="changeCicle(this);">
                    <option value="0">Selecione o tipo de tensão</option>
                    <option value="1">BTN</option>
                    <option value="2">BTE</option>
                    <option value="3">MT</option>
                </select>
                <select name="cicle_selection_combo" id="" class="form-control mb-30" onchange="moreOptions(tension_selection_combo,this)">
                </select>
              </div>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- ***** Contact Area End ***** -->


{% endblock %}
