{% extends 'base.html' %}
{% load static %}
{% block title %}Serviços da NeedWatt{%endblock %}
{% block meta_description %}Sistema de Monitorização de Energia{% endblock %}

{% block content %}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'main/img/bg-img/ener0.jpg' %});">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <h2 class="title">Sistema de Monitorização de Energia</h2>
      </div>
    </div>
  </div>
</div>
<div class="breadcumb--con">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./home.html"><i class="fa fa-home"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="./service.html"><i class="fa fa-service"></i> Serviços</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Sistema de Monitorização de Energia</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->


<section class="about-us-area mt-70">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <div class="about-us-thumbnail mb-50">
          <img src="{% static 'main/img/bg-img/ener11.jpg' %}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="service_content mb-50">
          <div class="section-heading">
            <h2>Monitorização de Consumos de Energia</h2>
            <h3>Projetos Iluminação Led</h3>
            <div class="line"></div>
          </div>
          <p>Os sistemas de monitorização são ferramentas que fornecem informação detalhadas, em tempo real e histórico, de todos os parâmetros relevantes da energia consumida na instalação. Permitem antecipar falhas nos equipamentos consumidores e verificar a eficácia de medidas de eficiência energética implementadas.</p>
          <p>A Needwatt providencia sistemas baseados em contadores / analisadores de várias formas de energia (eletricidade, gás, vapor, ar comprimido, etc) interligados entre si num sistema SCADA para que possa aceder a toda a informação de forma simples e cómoda.</p>
          <p>Monitorize a energia que consome para tomar decisões simples e concisas.</p>
          <h3>Benefícios dos Sistemas</h3>
          <p>•	Acompanhamento de consumos com alertas</p>
          <p>•	Avaliação de custos energéticos</p>
          <p>•	Análises comparativas</p>
          <p>•	Descarga de ficheiros em diferentes formatos</p>
          <p>•	Gestão integrada Energia/Produção</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
